:root {
  --black: #000;
  --white: #FFF;
  --grey: #D3D3D3;
}

body {
  background-color: var(--black);
  color: var(--white);
}

section {
  height: 100%;
}

section--2 {
  background-color: white;
}

.container {
    color:pink;
}
