:root {
  --black: #000;
  --white: #FFF;
  --grey: #D3D3D3;
}

body {
  background-color: var(--black);
  color: var(--white);
  margin: 0;
}

section {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.section--2 {
  background-color: white;
}

.container {
    color:pink;
}
